/* Exercício 1: Criar uma transição para quando o mouse estiver em cima dos
 * botões play/stop (para que o elemento se revele lentamente)
 */
#controles ul
 {
   transition: 200ms ease-out;
 }

/*
 * Exercício 2: Você deve implementar uma metáfora visual para cada um dos 4
 * estados dos animais. Algumas sugestões:
 *   - agitado: animal piscando (opacidade variando)
 *   - alimentado: uma borda verde no animal e o animal fica girando de alegria
 *   - perturbado: animal fica pulsando
 *   - instinto-selvagem: animal dá um salto e cresce, com uma borda vermelha
 */
.agitado
{
  animation: piscando 0.5s ease-in-out 0s infinite alternate;
}

  @keyframes piscando
  {
    from { opacity: 1; }
    to   { opacity: 0.4; }
  }


.alimentado
{
  animation: girando 0.5s ease-in-out 0s infinite alternate;
}
.alimentado img
{
  border-color: rgb(0, 255, 0);
}

  @keyframes girando
  {
    from { transform: rotate(15deg); }
    to   { transform: rotate(-15deg); }
  }


.perturbado
{
  animation: aumentar 0.5s ease-in-out 0s infinite alternate;
}

@keyframes aumentar
{
  from { transform: scale(1); }
  to   { transform: scale(1.5); }
}


.instinto-selvagem
{
  animation: saltar 1s ease-in-out 0s infinite alternate;
}

  @keyframes saltar
  {
    from { transform: scale(1) translateY(0);}
    to   { transform: scale(1.5) translateY(-50px);; }
  }


.instinto-selvagem img
{
  border-color: rgb(255, 0, 0);
}

/*
 * Exercício 3: Criar uma imagem sprite com as imagens dos botões de controle
 * (icone-comecar.png e icone-parar.png). Sugestões:
 *   - Usar o nome: sprite-controles.png
 *   - Usar o paint.NET (ou Photoshop) para gerar a nova imagem (sprite)
 *
 */

.comecar,
.parar {}

.comecar {}

.parar {}
